<h1>Pages#contact</h1>
<p><%= number_to_phone "2222222222" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "20.2" %></p>

<p><%= number_with_delimiter "298728673653" %></p>
